* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
  }

  .header {
    min-height: 100vh;
    width: 100%;
    min-width: 900px;
    text-align: left;
    background-color: #edeeee;
    align-items: center;
    line-height: 1.5em;
    padding: 70px;
    padding-left: max(100px, 15%);
    padding-right: max(100px, 15%);
    box-sizing: border-box;
    font-family: 'Palatino', serif;
  }

  .header:first-of-type {
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 1em;
  }

  p {
    font-size: 1.1em;
  }
  
  h1 {
    font-weight: 300;
    font-size: 5em;
    line-height: 1em;
    font-family: 'Palatino', sans-serif;
    margin-bottom: 20px;
  }

  code {
    font-family: monospace;
  }

  .translate {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    color: #edeeee;
    font-size: 1.15em;
    background-color: #111;
    justify-content: center;
    padding-top: max(20px, 5%);
    position: -webkit-sticky;
    position: sticky;
    width: 70%;
    top: calc(25% - 250px);
    left: 0;
  }

  .floating {
    float: right;
    padding-top: max(10px, 10%);
    width: 30%;
    height: 1200px;
    font-size: 5em; 
    background-color: #111;
    color: #edeeee;
    z-index: -1;

  }

  .lang_{
    position: -webkit-sticky;
    position: sticky;
    padding: 12.5rem 1rem;
    justify-content: center;
    font-family: monospace;

  }

  .centered {
    top: 50%;
    left: 50%;
    text-align: left;
  }

  .footer {
    min-height: 100vh;
    background-color: darkturquoise;
    color: #e8e9e9; /* text color */
    box-sizing: border-box;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    padding-top: max(10px, 15%);
    position: -webkit-sticky;
    position: sticky;
    top: calc(30% - 250px);
    left: 0;
    z-index: 995;
    width: 100%;
    padding-left: max(100px, 20%);
    padding-right: max(100px, 20%);
  }

  strong {
    font-family: 'Roboto Bold', serif;
  }